In [11]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [2]:
df=pd.read_csv('Linear_regression_dataset.csv',header='infer')

In [4]:
df.sample(10)

     var_1  var_2  var_3  var_4  var_5  output
752    673    686     84  0.317  0.268   0.399
571    665    565     93  0.326  0.253   0.359
644    641    596     87  0.309  0.246   0.368
57     855    677     96  0.340  0.283   0.460
222    701    935     56  0.320  0.263   0.396
720    686    729     77  0.324  0.254   0.390
938    531    734     55  0.291  0.235   0.340
511    776    664     94  0.338  0.265   0.411
500    771    682     91  0.338  0.265   0.402
658    594    583     83  0.310  0.247   0.351

In [6]:
#create X ( input variables with all columns except for outout/target column )
X=df.loc[:,df.columns !='output']

In [7]:
#create the y data with only output column
y=df['output']

In [8]:
#Train the Linear Regression model on training dataset
lr = LinearRegression().fit(X, y)

In [9]:
lr.score(X,y)

0.8692670151914198

In [12]:
joblib.dump(lr,'linear_regression_model.pkl')

['flask_app/linear_regression_model.pkl']

In [13]:
test_data=[600,588,90,0.358,0.333]

In [14]:
pred_arr=np.array(test_data)
print(pred_arr)
preds=pred_arr.reshape(1,-1)
print(preds)
model=open("linear_regression_model.pkl","rb")
lr_model=joblib.load(model)
model_prediction=lr_model.predict(preds)
print(model_prediction)

[6.00e+02 5.88e+02 9.00e+01 3.58e-01 3.33e-01]
[[6.00e+02 5.88e+02 9.00e+01 3.58e-01 3.33e-01]]
[0.36901871]